{% extends 'base.html' %}

{% load static %}
{% block title %}Diseases{% endblock %}

{% block content %}  
<div class="healthbar">
    <section class="welcome">

        <div class="hero">
            <div class="info">

                
                <div><h2> Health Education</h2>
                    <p>Your Journey to Better Health Starts Here</p>
                    <p>Empowering Health through Education</p>
                    
               </div>
            </div>
           <div class="info2">


                <img src="images/s1.jpg" alt="" width="400">
   
   
           </div>


        </div>
       

    </section>
    <section class="ded">
        <H2>Sample Diseases</H2>
        <div class="image">
                <div class="item1" >
                    <h3>Covid-19</h3><br>
                    <img src="images/right arrow.png" alt="" width="40">

                </div>
                <div class="item1">
                    <h3>Malaria</h3><br>
                    <img src="images/right arrow.png" alt="" width="40">
                </div>
                <div class="item1">
                    <h3>Typhoid</h3><br>
                    <img src="images/right arrow.png" alt="" width="40">
                </div>
                <div class="item1">
                    <h3>Cholera</h3><br>
                    <img src="images/right arrow.png" alt="" width="40">
                </div>
                <div class="item1">
                    <h3>HIV/AIDS</h3><br>
                    <img src="images/right arrow.png" alt="" width="40">
                </div>
                <div class="item1">
                    <h3>more........</h3><br>
                    
                </div>
        
        </div>
       
    </section>
    <section class="malaria">
        <div class="images">
            <img src="images/s3.jpg" alt="" >
            <img src="images/s2.jpg" alt="" >
            <img src="images/s4.jpg" alt="" >
        </div>
        <div class="symptoms">
            <div class="data">
                <div class="covid"><h4><span>Covid-19</span> <br>signs and symptoms</h4></div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                         <h3>Fever or chills:</h3><br>
                         <p>Your body raises its temperature to help fight the virus.</p>
                    </div>
                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Cough:</h3><br>
                        <p>causes a dry cough, meaning no mucus or phlegm is produced.</p>
                    </div>
                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Shortness of breath:</h3><br>
                        <p>occur due to inflammation in the lungs caused by the virus.</p>
                    </div>
                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Fatigue:</h3><br>
                        <p>Feeling unusually tired or exhausted is common with COVID-19.</p>
                    </div>
                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Muscle or body aches:</h3><br>
                        <p>Body aches and muscle pain can be a result of your body's immune response</p>
                    </div>
                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Headache:</h3><br>
                        <p>Headaches are also reported among COVID-19 patients</p>
                    </div>
                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Loss of taste or smell:</h3><br>
                        <p>This is one of the more unique symptoms of COVID-19.</p>
                    </div>
                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Sore throat:</h3><br>
                        <p>A sore throat can result from the respiratory tract infection.</p>
                    </div>
                </div>
            </div>
            <div class="images"><img src="images/s3.jpg" alt="" width="200"></div>
        </div>
        <div class="symptoms">
            
            <div class="data">
                <div class="covid"><h4><span>Covid-19</span> <br>Treatment</h4></div>
                <div class="item1">
                    <div class="line">
                        <h3>Antiviral Medications:</h3><br>
                        <p>This antiviral medication is used to treat mild to moderate COVID-19</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Monoclonal Antibodies:</h3><br>
                        <p>These are laboratory-made proteins that mimic the immune system's ability</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Immune Modulators:</h3><br>
                        <p>This medication is used for hospitalized adults with COVID-19</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Supportive Care:</h3><br>
                        <p>For mild cases, supportive care includes rest, hydration, and over-the-counter medications</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Vaccination:</h3><br>
                        <p>getting vaccinated is the best way to prevent severe illness, hospitalization,</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3></h3><br>
                        <p></p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3></h3><br>
                        <p></p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3></h3><br>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="images"><img src="images/s2.jpg" alt="" width="200"></div>
        </div>

        <div class="symptoms">
            <div class="data">
                <div class="covid"><h4><span>Covid-19</span> <br>Prevention</h4></div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Vaccination:</h3><br>
                        <p>Getting vaccinated is one of the most effective ways to protect against COVID-19.</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Mask-Wearing:</h3><br>
                        <p>Wearing masks, especially in crowded or indoor settings</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Hand Hygiene:</h3><br>
                        <p>Regularly washing your hands with soap and water for at least 20 seconds</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Social Distancing:</h3><br>
                        <p>Maintaining a distance of at least 6 feet (2 meters) from others helps reduce the risk</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Social Distancing:</h3><br>
                        <p>Maintaining a distance of at least 6 feet (2 meters) from others helps reduce the risk</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Avoiding Crowded</h3><br>
                        <p>Limit your time in crowded places and ensure good ventilation indoors.</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Regular Cleaning</h3><br>
                        <p>Frequently clean and disinfect commonly touched surfaces, such as doorknobs,</p>
                    </div>

                </div>
                <div class="item1">
                    <div class="line"></div>
                    <div class="line1">
                        <h3>Monitoring Health:</h3><br>
                        <p>Be vigilant about monitoring your own health and recognizing symptoms.</p>
                    </div>

                </div>


            </div>
            <section class="malaria">
                <div class="images">
                    <img src="images/s3.jpg" alt="" >
                    <img src="images/s2.jpg" alt="" >
                    <img src="images/s4.jpg" alt="" >
                </div>
                <div class="symptoms">
                    
                    <div class="data">
                        <div class="covid"><h4><span>Covid-19</span> <br>signs and symptoms</h4></div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                 <h3>Fever or chills:</h3><br>
                                 <p>Your body raises its temperature to help fight the virus.</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Cough:</h3><br>
                                <p>causes a dry cough, meaning no mucus or phlegm is produced.</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Shortness of breath:</h3><br>
                                <p>occur due to inflammation in the lungs caused by the virus.</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Fatigue:</h3><br>
                                <p>Feeling unusually tired or exhausted is common with COVID-19.</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Muscle or body aches:</h3><br>
                                <p>Body aches and muscle pain can be a result of your body's immune response</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Headache:</h3><br>
                                <p>Headaches are also reported among COVID-19 patients</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Loss of taste or smell:</h3><br>
                                <p>This is one of the more unique symptoms of COVID-19.</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Sore throat:</h3><br>
                                <p>A sore throat can result from the respiratory tract infection.</p>
                            </div>
        
                        </div>
        
        
                    </div>
                    <div class="images"><img src="images/s3.jpg" alt="" width="200"></div>
        
        
        
        
                </div>
                <div class="symptoms">
                    
                    <div class="data">
                        <div class="covid"><h4><span>Covid-19</span> <br>Treatment</h4></div>
                        <div class="item1">
                            <div class="line">
                                <h3>Antiviral Medications:</h3><br>
                                <p>This antiviral medication is used to treat mild to moderate COVID-19</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Monoclonal Antibodies:</h3><br>
                                <p>These are laboratory-made proteins that mimic the immune system's ability</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Immune Modulators:</h3><br>
                                <p>This medication is used for hospitalized adults with COVID-19</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Supportive Care:</h3><br>
                                <p>For mild cases, supportive care includes rest, hydration, and over-the-counter medications</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Vaccination:</h3><br>
                                <p>getting vaccinated is the best way to prevent severe illness, hospitalization,</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3></h3><br>
                                <p></p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3></h3><br>
                                <p></p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3></h3><br>
                                <p></p>
                            </div>
        
                        </div>
        
        
                    </div>
                    <div class="images"><img src="images/s2.jpg" alt="" width="200"></div>
        
        
        
        
                </div>
                <div class="symptoms">
                    <div class="data">
                        <div class="covid"><h4><span>Covid-19</span> <br>Prevention</h4></div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Vaccination:</h3><br>
                                <p>Getting vaccinated is one of the most effective ways to protect against COVID-19.</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Mask-Wearing:</h3><br>
                                <p>Wearing masks, especially in crowded or indoor settings</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Hand Hygiene:</h3><br>
                                <p>Regularly washing your hands with soap and water for at least 20 seconds</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Social Distancing:</h3><br>
                                <p>Maintaining a distance of at least 6 feet (2 meters) from others helps reduce the risk</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Social Distancing:</h3><br>
                                <p>Maintaining a distance of at least 6 feet (2 meters) from others helps reduce the risk</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Avoiding Crowded</h3><br>
                                <p>Limit your time in crowded places and ensure good ventilation indoors.</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Regular Cleaning</h3><br>
                                <p>Frequently clean and disinfect commonly touched surfaces, such as doorknobs,</p>
                            </div>
        
                        </div>
                        <div class="item1">
                            <div class="line"></div>
                            <div class="line1">
                                <h3>Monitoring Health:</h3><br>
                                <p>Be vigilant about monitoring your own health and recognizing symptoms.</p>
                            </div>
        
                        </div>
        
        
                    </div>
                    <div class="images"><img src="" alt="" width="200"></div>    
                </div>
            </section>
        </div>
    </section>
</div>
{% endblock %}
