{% extends 'base.html' %}

{% load static %}
{% block title %}Login to Afya - Axis{% endblock %}

{% block content %} 
<div class="mainform">
    <div class="mainformleft">
        <img src="{% static 'images/logo.png' %}" alt="Afya Axis Logo">
    </div>
    <form action="." method="POST">
        {% csrf_token %}
        <h2>Welcome back to</h2>
        <h1>Afya Axis</h1>
        <p>We are pleased to help you</p>
        <div class="inputboxdiv">
            {{form.username}}
            <label for="username">Username</label>
        </div>
        <div class="inputboxdiv">
            {{form.password}}
            <label for="password1">Password</label>
        </div>
        {% if form.errors %}
        <div class="errormessages">
            <ul>
                {%for field, errors in form.errors.items%}
                    {%for error in errors%}
                        <li>{{error}}</li>
                    {%endfor%}
                {%endfor%}
            </ul>
        </div>
        {%endif%}
        <div class="forgot">
            <a href="">Forgot Password!</a>
        </div>
        <div class="submitbtn">
            <button class="btn-17">
                <span class="text-container">
                <span class="text">SIGN IN</span>
                </span>
            </button>
        </div>
        <div class="signin">
            <a href="{% url 'register' %}">Create an account!</a>
        </div>
    </form>
</div>  

{% endblock %}
