{% extends 'base.html' %}

{% load static %}
{% block title %}Login to Afya - Axis{% endblock %}

{% block content %}   
<div class="formbox">
    <div class="contents">
        <div class="logobox">
            <img src="{% static 'images/logo.png' %}" alt="Afya Axis Logo">
        </div>
        <form action="." method="POST">
            {% csrf_token %}
            <h1>SignIn</h1>
            <p class="welcome">Welcome back to Afya - <span>Axis</span></p>
            <div class="container">
                {{form.username}}
                <label class="label">Username</label>
            </div>
            <div class="container">
                {{form.password}}
                <label class="label">Password</label>
            </div>
            <div class="message">
                <div class="messagebody"></div>
            </div>
            <div class="message">
                <p>{{form.errors}}</p>
            </div>
            <div class="submitbtn">
                <button type="submit" class="btn-17">
                    <span class="text-container">
                        <span class="text">SIGN IN</span>
                    </span>
                </button>
                <a href="{% url 'register' %}">Create account!</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
