{% extends 'base.html' %}

{% load static %}
{% block title %}SignIn to Afya - Axis{% endblock %}

{% block content %} 
<div class="mainform">
    <div class="mainformleft">
        <img src="{% static 'images/logo.png' %}" alt="Afya Axis Logo">
    </div>
    <form action="." method="POST">
        {% csrf_token %}
        <h1>Sign up in Afya Axis</h1>
        <div class="inputboxdiv">
            {{form.username}}
            <label for="username">Username</label>
        </div>
        <div class="inputboxdiv">
            {{form.email}}
            <label for="username">Email</label>
        </div>
        <div class="inputboxdiv">
            {{form.password1}}
            <label for="password1">Password</label>
        </div>
        <div class="inputboxdiv">
            {{form.password2}}
            <label for="password2">Confirm password</label>
        </div>
        {% if form.errors %}
        <div class="errormessages">
            <ul>
                {%for field, errors in form.errors.items%}
                    {%for error in errors%}
                        <li>{{error}}</li>
                    {%endfor%}
                {%endfor%}
            </ul>
        </div>
        {%endif%}
        <div class="termsof">
            <input type="checkbox" required name="terms">
            <label for="terms">Agree to Afya Axis terms and conditions</label>
        </div>
        <div class="submitbtn">
            <button class="btn-17">
                <span class="text-container">
                <span class="text">SIGN UP</span>
                </span>
            </button>
        </div>
        <div class="signin">
            <a href="{% url 'login' %}">Login to an existing account</a>
        </div>
    </form>
</div> 
{% endblock %}
